body {
  margin: 0%;
  padding: 0%;
  width: 100%;
  background-color: #333333;
  color: whitesmoke;
}

header {
  padding: 0.84%;
  color: rgb(255, 0, 0);
  z-index: 2;
}

h1 {
  font-family: "Cinzel Decorative", cursive;
  text-shadow: 0px 2px 10px #ffdd6e;
  font-size: 7vw;
  margin: 0;
}

.home {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.home h1 {
  text-align: center;
}
video {
  opacity: 0.75;
  width: 3840px;
  height: 2160px;
}

.videoCont {
  position: center;
  width: 100vw;
}
.color {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: rgb(80, 0, 80);
  z-index: 1;
}

a {
  z-index: 2;
  padding-left: 1.5%;
  padding-right: 1.5%;
  color: rgb(255, 0, 0);
  font-family: "Cinzel Decorative", cursive;
  text-shadow: 0px 2px 2px #e78f47;
  font-size: 3vw;
  margin: 0;
  text-decoration: none;
  background-color: rgb(51, 51, 51);
  border: 5px solid #ffaf6e;
  border-radius: 50px;
box-shadow: 0px 0px 10px red;
}

img {
  z-index: 2;
  position: absolute;
  max-width: 20%;
  top: 1vh;
  left: 1vw;
}

@media (max-width: 425px) {
  h1 {
    text-shadow: 0px 2px #ffaf6e;
    font-size: 12vw;
  }

  a {
    font-size: 10vw;
    margin-top: 60vh;
    border: 3px solid #ffaf6e;
  }
  img {
    min-width: 25vw;
  }
}
