body {
  margin: 0%;
  padding: 0%;
  width: 100%;
  background-color: #333333;
  color: whitesmoke;
  width: fit-content;
}

header {
  padding: 0.84%;
  font-size: 125%;
  color: rgb(120, 10, 10);
  border: 5px solid black;
  background-image: url(bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.top {
  display: flex;
  align-items: center;
  justify-content: center;
}

.top a {
  font-family: "Cinzel Decorative", cursive;
  color: rgb(120, 10, 10);
  text-shadow: 0px 1px #e78f47;
  font-size: 300%;
  text-align: center;
  margin-bottom: 0;
  font-weight: bold;
}

.logo {
  display: flex;
  justify-content: end;
  align-items: flex-end;
}

h2 {
  margin-top: 5%;
  font-family: "Cinzel Decorative", cursive;
  text-align: center;
  font-size: 300%;
  color: rgb(135, 32, 32);
  text-shadow: 0px 1px #e78f47;
  margin-bottom: -0.3%;
}

h3 {
  color: rgb(120, 10, 10);
  text-shadow: 0px 1px #e78f47;
  padding-left: 0%;
  font-size: 200%;
  margin: 0%;
  text-align: center;
}

nav {
  width: 100%;
  font-size: 180%;
  margin: 0%;
}

td {
  font-family: "Cinzel Decorative", cursive;
  padding-left: 10%;
  font-size: 70%;
}

nav li {
  display: flex;
  flex-wrap: nowrap;
  font-family: "Cinzel Decorative", cursive;
  display: inline-block;
  padding: 1%;
}

nav ul {
  display: flex;
  justify-content: center;
  padding: 0;
  align-content: center;
  margin: 0;
}

article {
  display: flex;
  padding: 0%;
  margin: 1.5%;
  background-color: #252525;
  border: 1px solid rgb(230, 189, 100);
  border-radius: 15px;
}

.text {
  display: flex;
  align-items: center;
  padding: 10px;
  font-size: 150%;
}

.cha {
  display: flex;
  flex-direction: column;
  border: 1px solid rgb(230, 189, 100);
  padding: 10px;
  margin: 1%;
  max-width: 18%;
  min-width: 18%;
  font-size: 150%;
  background-image: url(bbg.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.imgcont {
  display: flex;
  align-items: center;
  width: 100%;
  border: 1px solid rgb(230, 189, 100);
  border-radius: 13px;
  background-image: url(mbg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

table {
  width: 100%;
}

.stats {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  border: 1px solid rgb(230, 189, 100);
  border-radius: 13px;
  color: #e78f47;
  margin: 3%;
  margin-top: 10%;
  padding: 1.5%;
  width: 90%;
  align-self: center;
  font-family: "Cinzel Decorative", cursive;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
  color: rgb(230, 189, 100);
  text-align: center;
  font-size: 80%;
}

footer {
  display: flex;
  justify-content: center;
  font-family: "Cinzel Decorative", cursive;
  margin-top: 3%;
  padding: 1%;
  background-color: #151515;
}

footer ul {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  margin: 0%;
  padding: 0%;
  list-style: none;
}

footer a{
  font-size: 100%;
}

footer ul li p {
  margin: 0%;
}

@media (max-width: 1024px) {
  td {
    font-size: 40%;
  }
  .text {
    font-size: 100%;
  }
  .top a {
    font-size: 200%;
  }

  h2 {
    font-size: 200%;
  }
  h3 {
    font-size: 100%;
  }
  a {
    font-size: 40%;
  }
  nav {
    font-size: 230%;
  }
  nav ul {
    align-items: center;
    max-height: 60px;
  }
  footer {
    font-size: 70%;
  }
}
@media (max-width: 730px) {
  .cha {
    max-width: 28%;
    min-width: 28%;
  }
  nav {
    font-size: 170%;
  }
  nav ul {
    display: flex;
    justify-content: center;
    padding: 1%;
    max-height: 30px;
  }
  td {
    padding: 1%;
    font-size: 7px;
  }
  .text {
    font-size: 70%;
  }
  footer {
    font-size: 50%;
  }
}
@media (max-width: 516px) {
  .top a {
    font-size: 150%;
    margin-bottom: 3%;
  }
  nav ul {
    display: flex;
    flex-flow: row wrap;
    max-height: 100%;
  }
  nav li {
    font-size: 98%;
    padding-left: 1%;
  }
  article {
    display: flex;
    justify-content: center;
    flex-direction: column;
    border-radius: 5px;
    margin-top: 5%;
  }
  .cha {
    max-width: 100%;
    min-width: 91%;
  }

  td {
    padding-left: 12%;
    font-size: 50%;
  }
  footer {
    margin-top: 7%;
    font-size: 12%;
  }
  p {
    margin: 0%;
  }
}
